BinaryToDecimal.exe
Floyds_tri.exe
StarPattern.exe
butterfly.exe
haltpydusing_no.exe
inv_half_pymid.exe
palindrome.exe
pyramid.exe
pytha_triplet.exe
rhombus.exe
sum_of_n.exe
tempCodeRunnerFile.exe
zero_one.exe
zigzag.exe
octalToDecimal.bin
pyramid.bin
pytha_triplet.bin
sum_of_n.bin
hexaToDecimal.bin
.gitignore
.cph
decimalToBinart.bin
decimalToBinary.exe
1013.exe
ATM.exe
AddtwoNumbers.exe
IRSTXOR.exe
Intest.exe
Notimetowaste.exe
Primegame.exe
Two_sum.exe
XxOoRr.exe
a.exe
coconut.exe
datatypes.exe
duplicate.exe
factorial.exe
favfraction.exe
greaterin3.exe
groups.exe
hello.exe
interesting_XOR.exe
matsort.exe
matxor.exe
maxProduction.exe
maxvowels.exe
middlewords.exe
nobel.exe
odd.exe
oddeven.exe
opt.exe
optimal.exe
optimal_denomination.exe
pawri.exe
possible_victory.exe
pre_post.exe
server.exe
sum_digits.exe
test.exe
vacine.exe
virus.exe
weight.exe
wordcount.exe
words.exe
xor.exe
