BinaryToDecimal.exe
Floyds_tri.exe
StarPattern.exe
butterfly.exe
haltpydusing_no.exe
inv_half_pymid.exe
palindrome.exe
pyramid.exe
pytha_triplet.exe
rhombus.exe
sum_of_n.exe
tempCodeRunnerFile.exe
zero_one.exe
zigzag.exe
octalToDecimal.bin
pyramid.bin
pytha_triplet.bin
sum_of_n.bin
